<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/util
   		http://www.springframework.org/schema/util/spring-util.xsd">

    <context:property-placeholder location="classpath:music.properties"/>

    <bean id="jazzMusic"
          class="org.example.lesson.di.JazzMusic">
        <constructor-arg value="${jazzMusic.name}"/>
    </bean>
    <bean id="classicMusic"
          class="org.example.lesson.di.ClassicMusic">
        <constructor-arg value="Classic music"/>
    </bean>
    <bean id="rockMusic"
          class="org.example.lesson.di.RockMusic">
        <constructor-arg value="Rock music"/>
    </bean>

    <util:list id="musicList" value-type="org.example.lesson.di.Music">
        <ref bean="jazzMusic"/>
        <ref bean="classicMusic"/>
        <ref bean="rockMusic"/>
    </util:list>

    <bean id="musicPlayer"
          class="org.example.lesson.di.MusicPlayer">
        <property name="musicList" ref="musicList"/>
    </bean>

</beans>